<body>
<div id="wrapper">

	<div id="header" class="content-block">

		<section class="center">
			<div class="slogan">
					いいモノマガジン
			</div>
			<div class="secondary-slogan">
					あなたの生活をちょっぴり楽しくするお手伝いがしたい
			</div>
		</section>
	</div><!-- header -->

<p><%= notice %></p>

	<div class="content-block" id="blog">
		<div class="container blog-sec">
			<header class="block-heading cleafix">
				<div class="title-page">
					<p class="main-header">投稿一覧</p>
					<p class="sub-header">楽しくなるきっかけはすぐそこに</p>
				</div>
			</header>

			<section class="block-body">
						<div class="row">
							<% @blogs.each do |blog| %>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/bike_water1-1000x600.jpg">
								<a href="#"><h2>Design Your Mind</h2></a>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/mac_glasses1-1000x600.jpg">
								<a href="#"><h2>Winter Is Comming</h2></a>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/road-1000x600.jpg">
								<a href="#"><h2>The Illustration</h2></a>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
						</div>
					</section>
				</div>
			</div>
						<% end %> <!-- #blog -->


			<div class="content-block" id="testimonials">
				<div class="container testimonial-sec">

					<header class="block-heading cleafix">
						<div class="title-page  pull-left">
							<p class="main-header">Testimonial</p>
						    <p class="sub-header">What our client says</p>
						</div>
					</header>

					<section class="block-body">
						<div class="row">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							  	<!-- Indicators -->
							  	<ol class="carousel-indicators">
								    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
								    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
							  	</ol><!-- /.carousel-indicators -->


							  	<!-- Wrapper for slides -->
							  	<div class="carousel-inner" role="listbox">
								    <div class="item active">
								      	<div class="img-center">
								      		<img class="img-circle circular-img" src="assets/images/01_200x200.png">
								      	</div>
								      	<h3>
								      		Create a website that you are gonna be proud of. Be it Business, Portfolio, Photography, eCommerce & much more.
								      	</h3>

								    </div><!-- /.item -->
								    <div class="item">
								    	<div class="img-center">
								      		<img class="img-circle circular-img" src="assets/images/02_200x200.png">
								      	</div>
								       	<h3>
								       		Create a website that you are gonna be proud of. Be it Business, Portfolio, Photography, eCommerce & much more.
								       	</h3>

								    </div><!-- /.item -->
								    <div class="item">
								    	<div class="img-center">
								      		<img class="img-circle circular-img" src="assets/images/03_200x200.png">
								        </div>
								       	<h3>
								       		Create a website that you are gonna be proud of. Be it Business, Portfolio, Photography, eCommerce & much more.
								       	</h3>
								    </div><!-- /.item -->
							  	</div><!-- /.carousel-inner -->
							</div><!-- /.carousel slide -->
						</div>
					</section><!-- /.block-body -->
				</div>
			</div><!-- /#testimonials -->

		</div><!--/#wrapper-->




		<script src="assets/js/jquery-2.1.3.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/jquery.actual.min.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>
		<script src="assets/js/contact.js"></script>
		<script src="assets/js/script.js"></script>
		<script src="assets/js/smoothscroll.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($){

		  	$(window).scroll(function() {

		  		console.log("asdf");

				if ($(window).scrollTop() > 100 ){

		 		$('.top-header').addClass('shows');

		  		} else {

		   	 	$('.top-header').removeClass('shows');

		 		};
			});

		  });

		jQuery('.scroll').on('click', function(e){
				e.preventDefault()

		  jQuery('html, body').animate({
		      scrollTop : jQuery(this.hash).offset().top
		    }, 1500);
		});


		</script>


	</body>
</html>
